/* body */
p {
  font-family: 'Kiwi Maru', Georgia, serif;
}
/* headings */
h1, h2, h3, h4, h5 {
  font-family: 'Oswald', Helvetica, sans-serif;
  color: #003B37;
  text-transform: uppercase;
}
.panel-title > a {
  color: #003B37;
}
/* contact styles */
button[name=contact] {
  background: #003B37;
  color: #fff;
}
/* skills styles  */
button[name=skills] {
  border: 0rem solid #003B37;
  border-radius: 100%;
}
.skills {
 border: 0rem solid #003B37;
 border-radius: 100%;
 padding: 10%;
 margin: 0 auto;
 text-align: center;
 vertical-align: middle;
 background-color: #003B37;
 color: #fff;
 height: 3rem;
 width: 3rem;
 display: inline-block;
}
span.htm {
  font-size: .8rem!important;
  line-height: 300%;
}
.adobe-ai {
  padding: 0 26%;
  margin: 0 auto;
}
.adobe-lr {
  padding: 0 26%;
  margin: 0 auto;
}
.adobe-pr {
  padding: 0 26%;
  margin: 0 auto;
}
.adobe-ps {
  padding: 0 26%;
  margin: 0 auto;
}
.adobe-xd {
  padding: 0 26%;
  margin: 0 auto;
}
/* projects styles */
#do {
  margin: 5px 0;
}
/* education styles */
.ed-date {
 border: .1rem solid #003B37;
 border-radius: 100%;
 padding: 20%;
 margin: 0 auto;
 display: inline-block;
 text-align: center;
}
/* nav bar styles */
body {
  padding-top: 50px;
}
#main {
  padding-top:.5%;
}
.navbar-brand > img {
  height:48px;
  margin:0 auto;
  padding:0;
  top: 0;
  bottom: 0;
  left: 0;
}
