/* styles for my resume */
/* body, default font styles */
body {
  color: #444;
  font: 400 1rem 'Open Sans,' sans-serif, Arial, Georgia, sans-serif;
}
h1 {
  color: #33485e;
  font: uppercase 3rem;
  text-align: center;
}
